.rank-insignia {
    height: 150px;

    margin-bottom: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.rank-insignia img {
    width: auto;
    height: 145px;

    max-width: 100%;

    object-fit: contain;

    filter:
        drop-shadow(
            0 5px 10px rgba(0, 0, 0, 0.4)
        );
}
